body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.bg-header{
    background-color: #FFC017;
    
}

.border-dark{
    border-bottom: 1px solid #414141;
}

.header-title{
    font-size: 70px;
    color: #000;
}

.header-btn{
    border-radius: 30px;
    padding: 7px 20px 9px 20px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}